<!DOCTYPE html>

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="description" content="An end-to-end solution for building high-quality PWAs">
  <title>{% if page.title %}{{ page.title }} &ndash;{% endif %} {{ site.name }}</title>
  <link rel="shortcut icon" sizes="32x32" href="../images/icon-32.png">
  <meta name="theme-color" content="#000">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  {% include header.html %}

  {{ content }}




  <section class="news">
    <h2>What's New</h2>
    <div class="news-item">
      <date>xxx, 2018:</date>
      <p>Firefox shipped Shadow DOM...</p>
    </div>
    <div class="news-item">
      <date>xxx, 2018:</date>
      <p>The new Travel PWA template is available...</p>
    </div>
  </section>

  <section class="features">
    <div class="feature">
      <svg class="icon" viewBox="0 0 24 24" style="fill: currentcolor;"><g id="mood"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/></g></svg>
      <p>SEO and social sharing friendly</p>
    </div>
    <div class="feature">
      <svg class="icon" viewBox="0 0 24 24" style="fill: currentcolor;"><g id="view-module"><path d="M4 11h5V5H4v6zm0 7h5v-6H4v6zm6 0h5v-6h-5v6zm6 0h5v-6h-5v6zm-6-7h5V5h-5v6zm6-6v6h5V5h-5z"/></g></svg>
      <p>Built out of modular, re-usable Web Components</p>
    </div>
    <div class="feature">
      <svg class="icon" viewBox="0 0 24 24" style="fill: currentcolor;"><g id="phonelink"><path d="M4 6h18V4H4c-1.1 0-2 .9-2 2v11H0v3h14v-3H4V6zm19 2h-6c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zm-1 9h-4v-7h4v7z"/></g></svg>
      <p>Responsive application shell architecture</p>
    </div>
    <div class="feature">
      <svg class="icon" viewBox="0 0 24 24" style="fill: currentcolor;"><g id="flash-on"><path d="M7 2v11h3v9l7-12h-4l4-8z"/></g></svg>
      <p>Lightning fast to load. Top-notch Lighthouse scores</p>
    </div>
    <div class="feature">
      <svg class="icon" viewBox="0 0 24 24" style="fill: currentcolor;"><g id="color-lens"><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/></g></svg>
      <p>Templates allow easy to customize and extend</p>
    </div>
  </section>

  <section class="main">
    <div class="main-item">
      <img src="../images/pwa-logo.png" alt="PWA logo">
      <div>
        <h2>From 0 to Progressive Web App in Minutes</h2>
        <p>Offline support, lazy loading and Service Worker caching out-of-the-box. Designed to be lightweight and flexible, based on web standards. Get started right away using just HTML, CSS and Javascript.</p>
      </div>
    </div>
    <div class="main-item">
      <img src="../images/web-fundamentals.png" alt="Polymer logo">
      <div>
        <h2>Built on Web Platform Technology <i>#UseThePlatform</i></h2>
        <p>Leveraging powerful modern web platform features like Web Components, Service Worker and HTTP/2.</p>
      </div>
    </div>
  </section>

  <section class="compatibility">
    <h2>Browser Compatibility</h2>
    <p>PWA Kit works in all major browsers</a> (Chrome, Firefox, IE, Edge, Safari, and Opera). </p>
    <div class="browsers">
      <img src="../images/browsers/chrome_128x128.png" alt="chrome logo">
      <img src="../images/browsers/firefox_128x128.png" alt="firefox logo">
      <img src="../images/browsers/internet-explorer_128x128.png" alt="internet explorer logo">
      <img src="../images/browsers/edge_128x128.png" alt="edge logo">
      <img src="../images/browsers/safari_128x128.png" alt="safari logo">
      <img src="../images/browsers/opera_128x128.png" alt="opera logo">
    </div>
  </section>

  <footer>
    <a target="_blank" href="http://polymer.github.io/LICENSE.txt" data-outbound="license-txt">© 2018 Google</a>
  </footer>
</body>
</html>
