<nav class="main-nav">
  <a class="logo" href="">PWA Starter Kit</a>
  <div class="flex"></div>
  <a class="main-nav-item" href="docs/get-started.html">Get started</a>
  <a class="main-nav-item" href="docs/whats-in-the-box.html">What's in the box</a>
</nav>

<section class="hero">
  <h1>Progressive Web App Starter Kit</h1>
  <div class="devices"></div>
  <p>A collection of components, tools and templates that form an end-to-end solution for building high-quality PWAs.</p>
  <div class="hero-buttons">
    <a class="pretty-button" href="docs/get-started.html">Get Started</a>
  </div>
</section>
